attrdict==2.0.1
attrs==19.3.0
beautifulsoup4==4.9.0
bleach==3.1.5
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
docutils==0.16
google==2.0.3
google-api-core==1.17.0
google-auth==1.14.3
google-cloud-secret-manager==0.2.0
googleapis-common-protos==1.51.0
grpc-google-iam-v1==0.12.3
grpcio==1.28.1
idna==2.9
keyring==21.2.1
more-itertools==8.2.0
packaging==20.3
pkginfo==1.5.0.1
pluggy==0.13.1
protobuf==3.11.3
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.2
pytz==2020.1
PyYAML==5.3.1
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
rsa==4.0
six==1.14.0
soupsieve==2.0
tqdm==4.46.0
twine==3.1.1
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
